.article {
  > h1 {
    font-size: 30px;
  }

  ::ng-deep .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  ::ng-deep .text-center {
    text-align: center;
  }

  ::ng-deep .bi-wleft {

    grid-template-columns: auto;

    @media(min-width: 800px) {
      grid-template-columns: auto 1fr;
    }

    display: grid;
    > :nth-child(2) {
      padding: 15px;
    }
  }
}


