h1 {
  vertical-align: bottom;
}

.header-top-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-left: 10px;
}

.header-nav {
  line-height: 100%;
  align-content: center;
  display: grid;

  @media (max-width: 600px) {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
  }

  font-weight: 700;
  font-family: 'Inconsolata', sans-serif;
  font-size: 18px;
  padding-left: 10px;
}

.universe-header {
  margin-bottom: 8px;
}

.title-bar {
  height: 4.2em;
  img {
    height: 100%;
    margin-right: 10px;
  }
}
