h1 {
  vertical-align: bottom;
}

.header-top-container {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-left: 10px;
}

.header-nav {
  grid-column: 1 / span 2;
  font-weight: 700;
  font-family: 'Inconsolata', sans-serif;
  padding-left: 10px;
}

.universe-header {
  margin-bottom: 8px;
}

.title-bar {
  height: 5em;
  img {
    height: 100%;
    margin-right: 10px;
  }
}
