.showcase-card {
  border: 1px solid darkgrey;
  margin-bottom: 5px;
  margin-right: 5px;
  box-shadow: 4px 4px 3px darkslateblue;
  // height: minmax(200px, 100%);
  // max-height: 200px;
  grid-template-columns: auto 1fr;
  display: grid;

  > .img-container {
    max-width: 30vw;
    max-height: 30vw;
    overflow: hidden;
  }


  @media(min-width: 600px){
    grid-template-columns: minmax(100px, 200px) 1fr;
    min-height: 200px;
    min-width: 400px;
    > .img-container {
      overflow: hidden;
      height: 100%;
      max-height: 200px;
    }
    .showcase-img {
      mask: linear-gradient(to right, black 160px, rgba(0,0,0,0.0) 200px);
    }
    div.showcase-desc {
      display: block;
    }
  }

  @media(max-width: 600px) {
    div.showcase-desc {
      display: none;
    }
    h2 {
      margin-right: 8px;
      font-size: 21px;
    }
  }


  h2, div.showcase-desc {
    padding-left: 10px;
    font-weight: 400;
  }


  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: white;
    background: black;
  }

  .showcase-desc {
    margin-right: 20px;
    margin-top: 0px;
  }

  .tag {
    padding-left: 10px;
    padding-right: 10px;
    background: darkslategray;
    color: white;
  }
  &:hover {
    box-shadow: 9px 9px 18px darkslateblue;
    animation: nudge .15s linear;
    transform: translateY(-5px);
  }
}

.showcase-img {
  height: 100%;
  mask: linear-gradient(to right, black 28vw, rgba(0,0,0,0.0) 30vw);
}

// Nudge Animation

@keyframes nudge {
  0% {
    transform: translateY(0px);
    box-shadow: 4px 4px 3px darkslateblue;
  }

  100% {
    transform: translateY(-5px);
    box-shadow: 9px 9px 18px darkslateblue;
  }
}

