.showcase-card {
  border: 1px solid darkgrey;
  margin-bottom: 5px;
  margin-right: 5px;
  box-shadow: 4px 4px 3px darkslateblue;
  // height: minmax(200px, 100%);
  min-height: 200px;
  // max-height: 200px;
  display: grid;
  grid-template-columns: minmax(100px, 200px) 1fr;
  min-width: 400px;

  > .img-container {
    overflow: hidden;
    height: 100%;
    max-height: 200px;
  }

  h2, div.showcase-desc {
    padding-left: 10px;
  }

  h2 {
    font-weight: 400;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: white;
    background: black;
  }

  .showcase-desc {
    margin-right: 20px;
    margin-top: 0px;
  }

  .tag {
    padding-left: 10px;
    padding-right: 10px;
    background: darkslategray;
    color: white;
  }
}

.showcase-card:hover {
  box-shadow: 1px 1px 18px darkslateblue;
}

.showcase-img {
  mask: linear-gradient(to right, black 160px, rgba(0,0,0,0.0) 202px);
  height: 100%;
}

