  <div class="showcase-card">
    <div class="img-container">
      <img class="showcase-img" [src]="data.imgUrl"/>
    </div>
    <div>
      <h2><a [routerLink]="'view/' + data.url">{{ data.title }}</a></h2>
      <div class="showcase-desc">
        <p>{{ data.description }}</p>
        <div *ngIf="data.tags"><strong>Tags: </strong>
          <span  *ngFor="let tagstr of data.tags">
            <span class=".tag" style="color: white; background: slateblue;">{{ tagstr }}</span>{{ " " }}</span>
          </div>
      </div>
      </div>
  </div>
