<!-- <a [routerLink]="'view/' + data.url"> -->
  <div class="showcase-card clickable" [routerLink]="'view/' + data.url">
    <div [style.background-image]="getBgUrl()" [style.width]="'auto'" [style.height]="getImageHeight() + 'px'" class="img-container">
      <!-- <img class="showcase-img" [src]="data.imgUrl"/> -->
    </div>
      <div #descriptor>
        <h2>{{ data.title }}</h2>
        <div class="showcase-desc">
          <p>{{ data.description }}</p>
          <div class="showcase-tags" *ngIf="data.tags"><p><strong>Tags: </strong>
            <span  *ngFor="let tagstr of data.tags">
              <span class="tag">{{ tagstr }}</span>{{ " " }}</span></p>
            </div>
        </div>
      </div>
    </div>
  <!-- </a> -->
