.showcase-card {
  border: 1px solid black;
  margin-bottom: 5px;
  margin-right: 5px;
  box-shadow: 4px 4px aquamarine;
  min-height: 200px;

  h2, p {
    padding-left: 10px;

  }

  h2 {
    margin-top: 0px;
  }

  a {
    text-decoration: underline;
    color: black;
  }

  a:hover {
    color: white;
    background: black;
  }
}
