<div class="splash-container">
  <div class="main-header">
      <h1>{{ myName }}</h1>
  </div>
  <div class="header-image">
      <img height="280px" src="https://naufik.net/stash/madebymygf.png"/>
  </div>
  <div class="header-text">
    <span class="text">
      <p>Hello there,</p>

      <p>I'm Naufal. Melbourne based computer science educator, software engineer, and automation hobbyist.</p>
      <p>I am a software engineer at <a href="https://ingenious.ai">InGenious AI</a>. Formerly a teaching and research assistant <a href="http://people.eng.unimelb.edu.au/naufals">University of Melbourne</a>. </p>

      <p>Majority of the site is under renovation! It may be a little less friendly for the mobile friends, sorry about that.</p>
    </span>
  </div>
</div>

<div class="coolnav">
  <a [routerLink]="'/resume'">resume</a> | <a [routerLink]="'/projects'">projects</a> || <a href="http://github.com/naufik">github</a> | <a href="http://linkedin.com/in/naufik">linkedin</a> | <a href="mailto:naufal@naufik.net">naufal@naufik.net</a>
</div>

