div.big-wrap {
  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(200px, 1300px) minmax(100px, 1fr);
  font-family: sans-serif;
}

div.universe-header {
  grid-column: 2 / span 1;
}

div.top-level-content {
  grid-column: 2 / span 1;
}
