h1 {
  vertical-align: center;
}

div.big-wrap {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 900px) 1fr;
  font-family: sans-serif;
}

div.universe-header {
  grid-column: 2 / span 1;
}

div.top-level-content {
  grid-column: 2 / span 1;
}
