
$margin_sz: 100px;
$broken_link: red;

.tld {
    display: grid;
    grid-template-columns: auto 310px 600px auto;
    font-family: sans-serif;
}

.main-header {
    grid-column: 2 / 5;
}

.header-image {
    grid-column: 2 / 3;
}

.header-text {
    grid-column: 3 / 4;
    font-size: 18px;
    position: relative;
    height: 100%;
}

.header-text > span {
    position: absolute;
    bottom: 20px;
    left: 0;
    vertical-align: text-bottom;
}

a.wip {
    color: $broken_link;
}

a.wip:hover {
    background: $broken_link;
    color: white;
}

div.coolnav {
    font-family: monospace;
    font-size: 15px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}