/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:400,700&display=swap');

a:hover {
    color: white;
    background: black;
}

a:hover:visited {
  color: white;
  background: black;
}


a.imglink {
  background: white;
  color: white;
}

a:visited {
  color: black;
  background: white;
}

app-root div {
  font-family: 'Open Sans', sans-serif;
}
