/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:400,700&display=swap');

$broken_link: red;

/** For non-img links */

a:hover {
    color: white;
    background: black;
}

a:hover:visited {
  color: white;
  background: black;
}

a:visited {
  color: black;
  background: white;
}

img.inshow {
  max-width: 80vh;
}

a.wip {
  color: $broken_link;
}

a.wip:hover {
  background: $broken_link;
  color: white;
}

/** Other elements */

.clickable {
  cursor: pointer;
  // p {
  //   cursor: default;
  // }
}

/** For image links */

a.imglink {
  background: white;
  color: white;
}

a.imglink:hover {
  background: white;
  color: white;
}

/** Miscellaneous */

app-root div {
  font-family: 'Open Sans', sans-serif;
}
